.App {
  text-align: center;
}
.Todo-container {
  width: 70%;
  margin: 40px auto;
  border: 1px solid rgb(9, 1, 37);

}
.Todo-input {
  width: 100%;
  padding: 10px 0px;
  font-size: 18px;
  margin: 8px 5px;
  
}

.Todo-input:focus {
  outline: 0;
}

.Todo-item {
  padding: 8px 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation-duration: 0.5s;
  border-top: 1px groove rgba(12, 1, 49, 0.548);

}
.title-style{
  margin-bottom: 0px;
}
.Remove-item {
  cursor: pointer;
  margin-left: 14px;
}

.Remove-item:hover {
  color: black;
}

.Todo-item-left {
  display: flex;
  align-items: center;
}

.Todo-item-label {
  padding: 10px;
  margin-bottom: 0px;
}
.Todo-item-label-checkall{
  margin-bottom: 0px;
}


.Todo-item-edit {
  font-size: 16px;
  color: #2c3e50;
  margin-left: 12px;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
}

.Todo-item-edit:focus {
  outline: none;
}

.Completed {
  text-decoration: line-through;
  color: grey;
}

.Extra-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  border-top: 1px groove rgba(12, 1, 49, 0.548);
  padding: 8px 5px;
}

.Active {
  background: lightgreen;
}
